$text-color: #4F5665;
$main-color: #F53855;


@mixin btn-oval() {
    border-radius: 50px;
    border: 1px solid $main-color;
    color: $main-color;
    min-width: 150px;
    padding: 13px 45px;
    background-color: #fff;
    cursor: pointer;
}

@mixin btn-oval-hover() {
    background-color: #F53838;
    color: #fff;
    transition: 0.3s;
}

@mixin strong-text() {
    font-weight: 500;
}

@mixin text-center() {
    text-align: center;
    margin-top: 80px;
}


@mixin block-center() {
    max-width: 555px;
    margin: 0 auto;
}